# Doctrine Configuration
doctrine:
    dbal:
        default_connection: middleware
        connections:
            middleware:
                driver:   "%database_driver%"
                host:     "%database_host%"
                port:     "%database_port%"
                dbname:   "%database_middleware_name%"
                user:     "%database_middleware_user%"
                password: "%database_middleware_password%"
                server_version: "%database_server_version%"
                charset: utf8
                use_savepoints: true
            gateway:
                driver:   "%database_driver%"
                host:     "%database_host%"
                port:     "%database_port%"
                dbname:   "%database_gateway_name%"
                user:     "%database_gateway_user%"
                password: "%database_gateway_password%"
                server_version: "%database_server_version%"
                charset: utf8
                use_savepoints: true
            deploy:
                driver:   "%database_driver%"
                host:     "%database_host%"
                port:     "%database_port%"
                dbname:   "%database_middleware_name%"
                user:     "%database_deploy_user%"
                password: "%database_deploy_password%"
                server_version: "%database_server_version%"
                charset: utf8
                use_savepoints: true
        types:
            authority_role:
                class: Surfnet\StepupMiddleware\ApiBundle\Doctrine\Type\AuthorityRoleType
            institution:
                class: Surfnet\StepupMiddleware\ApiBundle\Doctrine\Type\InstitutionType
            stepup_contact_information:
                class: Surfnet\StepupMiddleware\ApiBundle\Doctrine\Type\ContactInformationType
            stepup_common_name:
                class: Surfnet\StepupMiddleware\ApiBundle\Doctrine\Type\CommonNameType
            stepup_datetime:
                class: Surfnet\StepupMiddleware\ApiBundle\Doctrine\Type\DateTimeType
            stepup_document_number:
                class: Surfnet\StepupMiddleware\ApiBundle\Doctrine\Type\DocumentNumberType
            stepup_email:
                class: Surfnet\StepupMiddleware\ApiBundle\Doctrine\Type\EmailType
            stepup_name_id:
                class: Surfnet\StepupMiddleware\ApiBundle\Doctrine\Type\NameIdType
            stepup_locale:
                class: Surfnet\StepupMiddleware\ApiBundle\Doctrine\Type\LocaleType
            stepup_location:
                class: Surfnet\StepupMiddleware\ApiBundle\Doctrine\Type\LocationType
            stepup_second_factor_status:
                class: Surfnet\StepupMiddleware\ApiBundle\Doctrine\Type\SecondFactorStatusType
            stepup_recovery_token_status:
                class: Surfnet\StepupMiddleware\ApiBundle\Doctrine\Type\RecoveryTokenStatusType
            stepup_ra_location_name:
                class: Surfnet\StepupMiddleware\ApiBundle\Doctrine\Type\RaLocationNameType
            stepup_configuration_institution:
                class: Surfnet\StepupMiddleware\ApiBundle\Doctrine\Type\ConfigurationInstitutionType
            stepup_configuration_contact_information:
                class: Surfnet\StepupMiddleware\ApiBundle\Doctrine\Type\ConfigurationContactInformationType
            stepup_configuration_location:
                class: Surfnet\StepupMiddleware\ApiBundle\Doctrine\Type\ConfigurationLocationType
            stepup_use_ra_locations_option:
                class: Surfnet\StepupMiddleware\ApiBundle\Doctrine\Type\UseRaLocationsOptionType
            stepup_show_raa_contact_information_option:
                class: Surfnet\StepupMiddleware\ApiBundle\Doctrine\Type\ShowRaaContactInformationOptionType
            stepup_second_factor_type:
                class: Surfnet\StepupMiddleware\ApiBundle\Doctrine\Type\SecondFactorTypeType
            stepup_verify_email_option:
                class: Surfnet\StepupMiddleware\ApiBundle\Doctrine\Type\VerifyEmailOptionType
            stepup_number_of_tokens_per_identity_option:
                class: Surfnet\StepupMiddleware\ApiBundle\Doctrine\Type\NumberOfTokensPerIdentityType
            stepup_self_vet_option:
                class: Surfnet\StepupMiddleware\ApiBundle\Doctrine\Type\SelfVetOptionType
            stepup_self_asserted_tokens_option:
                class: Surfnet\StepupMiddleware\ApiBundle\Doctrine\Type\SelfAssertedTokensOptionType
            stepup_sso_on_2fa_option:
                class: Surfnet\StepupMiddleware\ApiBundle\Doctrine\Type\SsoOn2faOptionType
            stepup_sso_registration_bypass_option:
                class: Surfnet\StepupMiddleware\ApiBundle\Doctrine\Type\SsoRegistrationBypassOptionType
            stepup_institution_role:
                class: Surfnet\StepupMiddleware\ApiBundle\Doctrine\Type\InstitutionRoleType
            stepup_vetting_type_hints:
                class: Surfnet\StepupMiddleware\ApiBundle\Doctrine\Type\VettingTypeHintsType
    orm:
        default_entity_manager: middleware
        auto_generate_proxy_classes: "%kernel.debug%"
        controller_resolver:
          auto_mapping: false
        entity_managers:
            middleware:
                connection: middleware
                naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
                mappings:
                    api_identity:
                        mapping: true
                        type: attribute
                        dir: "%kernel.project_dir%/src/Surfnet/StepupMiddleware/ApiBundle/Identity"
                        prefix: Surfnet\StepupMiddleware\ApiBundle\Identity
                        is_bundle: false
                    api_configuration:
                        mapping: true
                        type: attribute
                        dir: "%kernel.project_dir%/src/Surfnet/StepupMiddleware/ApiBundle/Configuration"
                        prefix: Surfnet\StepupMiddleware\ApiBundle\Configuration
                        is_bundle: false
                    management_configuration:
                        mapping: true
                        type: attribute
                        dir: "%kernel.project_dir%/src/Surfnet/StepupMiddleware/ManagementBundle/Configuration"
                        prefix: Surfnet\StepupMiddleware\ManagementBundle\Configuration
                        is_bundle: false
                schema_ignore_classes:
                    - Surfnet\StepupMiddleware\ApiBundle\Identity\Entity\RaCandidate
            gateway:
                connection: gateway
                naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
                mappings:
                    SurfnetStepupMiddlewareGatewayBundle:
                        mapping: true
                        type: attribute
                        is_bundle: true
            deploy:
                connection: deploy

when@dev:
    doctrine:
        dbal: &mariadbDbal
            connections:
                middleware: &options
                    options:
                        # The 1002 constant sets the PDO MYSQL_ATTR_INIT_COMMAND for when the connection is (re)connected.
                        1002: "%database_driver_options_1002%"
                gateway:
                    *options
                deploy:
                    *options

when@prod: &prodOverride
    doctrine:
        orm:
            auto_generate_proxy_classes: false
            metadata_cache_driver:
                type: pool
                pool: doctrine.system_cache_pool
            query_cache_driver:
                type: pool
                pool: doctrine.system_cache_pool
            result_cache_driver:
                type: pool
                pool: doctrine.result_cache_pool
        dbal:
            <<: *mariadbDbal
    framework:
        cache:
            pools:
                doctrine.result_cache_pool:
                    adapter: cache.app
                doctrine.system_cache_pool:
                    adapter: cache.system

when@prod_event_replay:
    doctrine:
        dbal:
            <<: *mariadbDbal
        orm:
            default_entity_manager: deploy

when@smoketest: &smoketestOveride
    doctrine:
        dbal:
            connections:
                middleware:
                    dbname: middleware_test
                    host: mariadb
                    password: mw_deploy_secret
                    user: mw_deploy_user
                    <<: *options
                gateway:
                    dbname: gateway_test
                    host: mariadb
                    password: mw_deploy_secret
                    user: mw_deploy_user
                    <<: *options
                deploy:
                    dbname: middleware_test
                    host: mariadb
                    password: mw_deploy_secret
                    user: mw_deploy_user
                    <<: *options

when@smoketest_event_replay:
    doctrine:
        dbal:
            default_connection: deploy
            connections:
                middleware:
                    dbname: middleware_test
                    host: mariadb
                    password: mw_deploy_secret
                    user: mw_deploy_user
                    <<: *options
                gateway:
                    dbname: gateway_test
                    host: mariadb
                    password: mw_deploy_secret
                    user: mw_deploy_user
                    <<: *options
                deploy:
                    dbname: middleware_test
                    host: mariadb
                    password: mw_deploy_secret
                    user: mw_deploy_user
                    <<: *options
        orm:
            default_entity_manager: deploy

when@test:
    doctrine:
        dbal:
            default_connection: middleware
            connections:
                middleware:
                    url: "sqlite:///%kernel.project_dir%/var/middleware.db"
                gateway:
                    url: "sqlite:///%kernel.project_dir%/var/gateway.db"
                deploy:
                    url: "sqlite:///%kernel.project_dir%/var/deploy.db"
