nelmio_security:
    clickjacking:
        paths:
            '^/.*': DENY
    # Content Security Policy
    csp:
        # Log to security channel
        report_logger_service: monolog.logger.security
        enforce:
            report-uri: "%router.request_context.base_url%/csp/report"
            default-src:
                - 'none'
            style-src:
                - 'self'
            script-src:
                - 'self'
            font-src:
                - 'self'
            connect-src:
                - 'self'
            block-all-mixed-content: true # defaults to false, blocks HTTP content over HTTPS transport
            upgrade-insecure-requests: true # defaults to false, upgrades HTTP requests to HTTPS transport

    content_type:
        nosniff: true

when@dev: &devOverride
    nelmio_security:
        csp:
            report:
                level1_fallback: true

when@dev_event_replay: *devOverride
when@smoketest: *devOverride
when@smoketest_event_replay:  *devOverride