services:
  _defaults:
    autoconfigure: true

  # BC aliases
  Surfnet\StepupMiddleware\CommandHandlingBundle\EventSourcing\MetadataEnricher: "@surfnet_stepup_middleware_command_handling.metadata_enricher.actor"

  Surfnet\Stepup\Helper\UserDataFilterInterface:
    class: Surfnet\Stepup\Helper\UserDataFilter

  Surfnet\Stepup\Helper\UserDataFormatterInterface:
    class: Surfnet\Stepup\Helper\UserDataFormatter
    arguments:
      $applicationName: '%application_name%'

  surfnet_stepup.repository.identity:
    class: Surfnet\Stepup\Identity\EventSourcing\IdentityRepository
    arguments:
      - "@surfnet_stepup_middleware_command_handling.event_store.sensitive_data"
      - "@surfnet_stepup_middleware_command_handling.event_bus.buffered"
      - "@surfnet_stepup.aggregate_factory.public_constructor"
      - '@Surfnet\Stepup\Helper\UserDataFilterInterface'
      - "@logger"
      - [ "@surfnet_stepup_middleware_command_handling.metadata_enricher.actor" ]

  surfnet_stepup_middleware_command_handling.metadata_enricher.actor:
    class: Surfnet\StepupMiddleware\CommandHandlingBundle\EventSourcing\MetadataEnrichingEventStreamDecorator

  surfnet_stepup.repository.configuration:
    class: Surfnet\Stepup\Configuration\EventSourcing\ConfigurationRepository
    arguments:
      - "@surfnet_stepup.event_store.dbal"
      - "@surfnet_stepup_middleware_command_handling.event_bus.buffered"
      - "@surfnet_stepup.aggregate_factory.public_constructor"

  surfnet_stepup.repository.institution_configuration:
    class: Surfnet\Stepup\Configuration\EventSourcing\InstitutionConfigurationRepository
    arguments:
      - "@surfnet_stepup.event_store.dbal"
      - "@surfnet_stepup_middleware_command_handling.event_bus.buffered"
      - "@surfnet_stepup.aggregate_factory.public_constructor"

  surfnet_stepup.repository.whitelist:
    class: Surfnet\Stepup\Identity\EventSourcing\WhitelistRepository
    arguments:
      - "@surfnet_stepup.event_store.dbal"
      - "@surfnet_stepup_middleware_command_handling.event_bus.buffered"
      - "@surfnet_stepup.aggregate_factory.public_constructor"

  surfnet_stepup.aggregate_factory.public_constructor:
    public: false
    class: Broadway\EventSourcing\AggregateFactory\PublicConstructorAggregateFactory

  surfnet_stepup.event_store.in_memory:
    public: false
    class: Broadway\EventStore\InMemoryEventStore

  surfnet_stepup.event_store.dbal:
    public: false
    class: Broadway\EventStore\Dbal\DBALEventStore
    arguments:
      - "@doctrine.dbal.middleware_connection"
      - "@surfnet_stepup.event_store.simple_serializer"
      - "@surfnet_stepup.event_store.simple_serializer"
      - 'event_stream'
      - false

  surfnet_stepup.event_store.simple_serializer:
    public: false
    class: Broadway\Serializer\SimpleInterfaceSerializer

  surfnet_stepup_middleware_command_handling.event_bus.buffered:
    public: false
    class: Surfnet\StepupMiddleware\CommandHandlingBundle\EventHandling\BufferedEventBus
    arguments:
      - "@doctrine.orm.entity_manager"

  # Sensitive data
  surfnet_stepup_middleware_command_handling.repository.sensitive_data_message:
    class: Surfnet\StepupMiddleware\CommandHandlingBundle\SensitiveData\Repository\SensitiveDataMessageRepository
    arguments:
      - "@doctrine.dbal.middleware_connection"

  surfnet_stepup_middleware_command_handling.event_store.sensitive_data:
    class: Surfnet\StepupMiddleware\CommandHandlingBundle\SensitiveData\EventStore\SensitiveDataEventStoreDecorator
    arguments:
      - "@surfnet_stepup.event_store.dbal"
      - "@surfnet_stepup_middleware_command_handling.repository.sensitive_data_message"

  surfnet_stepup_middleware_command_handling.service.sensitive_data:
    class: Surfnet\StepupMiddleware\CommandHandlingBundle\SensitiveData\Service\SensitiveDataService
    arguments:
      - "@surfnet_stepup_middleware_command_handling.repository.sensitive_data_message"
