parameters:
    application_name: OpenConext Middleware
    # IP addresses of any HTTP proxies that are sitting in from of the application
    # See: http://symfony.com/doc/current/request/load_balancer_reverse_proxy.html
    trusted_proxies:   ~

    database_driver:   pdo_mysql
    database_host:     mariadb
    database_port:     ~
    # Enabling the STRICT_ALL_TABLES SQL mode. To prevent 'magic' truncation problems where string
    # values like the identity name id would be truncated after 255 characters without notice. Enabling
    # STRICT_ALL_TABLES changes this behaviour, and raises SQLSTATE[22001] 'Bad response' when this
    # occurs.
    database_driver_options_1002: 'SET @@SQL_MODE = CONCAT(@@SQL_MODE, ",STRICT_ALL_TABLES")'
    # The database server version is used in the dbal configuration and is required to prevent issues when the database
    # connection is booted. See https://github.com/doctrine/DoctrineBundle/issues/351 for more details on this.
    # Also see: https://symfony.com/doc/current/reference/configuration/doctrine.html#doctrine-dbal-configuration
    database_server_version: mariadb-10.0.38
    database_middleware_name:     middleware
    database_middleware_user:     middleware_user
    database_middleware_password: middleware_secret
    database_gateway_name:     gateway
    database_gateway_user:     mw_gateway_user
    database_gateway_password: mw_gateway_secret
    database_deploy_user:      mw_deploy_user
    database_deploy_password:  mw_deploy_secret

    mailer_transport:  smtp
    mailer_host:       mailcatcher
    mailer_port:       25
    mailer_user:       ''
    mailer_password:   ''

    default_locale:    en_GB
    locales:           [nl_NL, en_GB]
    secret:            NotSoSecretReplaceMe!

    use_assetic_controller: true

    # Passwords for authentication to the api exposed by this (i.e. the middleware) component
    # API: https://middleware.tld/
    # Command API: https://middleware.tld/command
    # Usernames for the accounts below are:
    # - selfservice - user "ss"
    # - registration - user "ra"
    # - readonly access to all endpoints - user "apireader"
    # - management - user "management"
    # - GDPR compliance: deprovision and retrieval of user information - user "lifecycle"
    selfservice_api_password: sa_secret
    registration_authority_api_password: ra_secret
    readonly_api_password: secret
    management_password: secret
    lifecycle_password: secret

    self_service_email_verification_url_template: https://sa.dev.openconext.local/verify-email?n={nonce}
    email_sender_name: OpenConext DEV environment
    email_sender_email: noreply@dev.openconext.local

    email_verification_window: 3600 # the amout of seconds the email verification email/url is valid

    stepup_loa_loa1: https://dev.openconext.local/authentication/loa1
    stepup_loa_loa2: https://dev.openconext.local/authentication/loa2
    stepup_loa_loa3: https://dev.openconext.local/authentication/loa3
    stepup_loa_self_asserted: 'https:///dev.openconext.local/loa1.5'

    self_service_url: https://sa.dev.openconext.local

    enabled_generic_second_factors:
        azuremfa:
            loa: 2
        tiqr:
            loa: 2
        webauthn:
            loa: 3
        demo_gssp:
            loa: 3

    second_factors_display_name:
      yubikey: Yubikey
      azuremfa: AzureMFA
      webauthn: FIDO2
      tiqr: Tiqr
      demo_gssp: GSSP Demo
      demo_gssp_2: GSSP Demo 2

    # Sets the number of tokens allowed for each identity.
    #
    # This is the global, application wide default. This configuration should be specified for each institution in the
    # institution config (middleware api). The value configured in the parameters.yml will be used as the
    # fallback/default value.
    number_of_tokens_per_identity: 1

    # Sets the tokens that can skip the prove possession step.
    #
    # This is the global, application wide default. The configuration consists of an array with second factors types
    # that will skip the prove possession step in RA.
    skip_prove_possession_second_factors: []
