<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<p>Dear {{ commonName }},</p>

<p>
    Before you can start using your token it needs to be activated, please click on the link below to activate your
    token. If you cannot click on the link, please copy it and paste it in the address bar of your browser.
</p>

<p>
    <a href="{{ verificationUrl }}">{{ verificationUrl }}</a>
</p>
</body>
</html>
