<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<p>Hëlló {{ commonName }},</p>

<p>
    Before you may register your second factor you must verify you own this e-mail address <strong>{{ email }}</strong>.
    To verify you own this e-mail address, visit the link below.
</p>

<p>
    <a href="{{ verificationUrl }}">{{ verificationUrl }}</a>
</p>
</body>
</html>
