<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<p>Hëlló {{ commonName }},</p>

<p>
    Go the the RA to complete the registration process.
</p>

<p>
    <address>
        RA Bob<br>
        Achter je
    </address>
</p>

<hr>
<p style="font-size: 150%; text-align: center">
    <code>{{ registrationCode }}</code>
</p>
<hr>

</body>
</html>
