<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<p>Dear {{ commonName }},</p>

<p>
    To complete the registration process for your token you must visit a registration officer. Bring your registration
    code and a valid identity document (passport, drivers license, or National ID card) to your registration officer.
</p>

<hr>

<p style="font-size: 150%; text-align: center">
    <code>{{ registrationCode }}</code>
</p>

<hr>

<h2>List of registration officers</h2>

<ul>
    <li>
        <address>
            John Doe<br>
            Room 14<br>
            University Foo<br>
        </address>
    </li>
</ul>

</body>
</html>
