<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
    <meta charset="UTF-8">
</head>
<body>

{% set template = template_from_string(templateString) %}

{{ include(template, sandboxed: true) }}

</body>
</html>
