name: test-integration
on:
  pull_request:
  push:
    branches: [ main, feature/*, bugfix/*, release/* ]
jobs:
  run-qa-tests:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: /var/www/html/
    container:
      image:  ghcr.io/openconext/openconext-basecontainers/php82-apache2-node20-composer2:latest
      volumes:
        - .:/var/www/html

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Composer install
        run: composer install

      - name: Run QA tests
        run: composer check-ci
        env:
          SYMFONY_DEPRECATIONS_HELPER: 999999
